In [ ]:
import h5py as h
import numpy as np
import pandas as pd
#h.run_tests()

# MAKING A fILE
## making a group
## making a dataset

In [ ]:
with h.File('test.hdf5','a') as f:
    #grp = f.create_group('foo')
    #subgrp = grp.create_group('bar')
    #tata_nse = f.create_group("tata/nse")
    try:
        print('group found')
        tata_nse = f['tata/bse']
    except Exception:
        print("group not found, making one right now:")
        tata_nse = f.create_group('tata/bse')
        tata_nse.create_dataset('date-today',(10,))
        
    print(f['tata'].keys())

In [ ]:
with h.File('test.hdf5','a') as f:
    date = f['tata/bse']
    if not date['date-today11']:
        date.create_dataset('date-today11',shape=(0,10),maxshape=(None,10))
    date['date-today11']

In [ ]:
np.arange(15)

In [ ]:
with h.File('test.hdf5','a') as f:
    date = f['tata/bse']
    df = date['date-today11']
    df.resize((1,10))
    date['date-today11'][0] = np.arange(10)

In [ ]:
with h.File('test.hdf5','a') as f:
    df = f['tata/bse/date-today11']
    df.attrs['description'] = 'a test'
    print(df[0])

In [ ]:
with h.File('test.hdf5','a') as f:
    print(f['tata/bse/date-today11'].attrs['description'])

In [ ]:
# appending data
with h.File('test.hdf5','a') as f:
    df = f['tata/bse/date-today11']
    print(df.shape[1])
    df.resize((df.shape[0]+1,df.shape[1]))
    print(df.shape)

In [ ]:
with h.File('deux.h5','a') as f:

    try:
        df = f['test/1']
    except Exception:
        df =f.create_dataset('test/1',data=np.arange(100).reshape(10,10))
    
    print(pd.DataFrame(df[:]))

In [ ]:
data = pd.read_hdf('deux.h5',where='test/1')

In [ ]:
data = pd.read_csv('Dept-2024-07-12.csv')

In [ ]:
with h.File('Depth.hdf5','a') as f:
    try:
        df = f['test/1']
        print('data stored!')
    except Exception:
        df = f.create_dataset('test/1',data=data)

    print(pd.DataFrame(df))

In [ ]:
hdf = data.to_hdf('dep.h5',key='test/uno',format='table')

In [ ]:
data = pd.read_hdf('dep.h5',key='test/uno')

In [ ]:
with h.File('dep.h5','a') as f:
    #
    print(f['test/uno/table'].attrs.keys())
    df = f['test/uno/table'].attrs['FIELD_2_NAME']
    print(df)
    print([name for name,obj in f['test/uno'].items()])

In [114]:
data1 = pd.read_csv('Symb-2024-07-12.csv')

with h.File('Depth.hdf5','a') as f:
    try:
        df = f['test/one/testdf']
    except Exception:
        df = f.create_dataset('test/one/testdf',data=data1)
        df.attrs.create('columns',data1.columns.to_list())
        cols = df.attrs.get('columns')
        print(cols)
    #dataframe = pd.DataFrame(data=df,columns=cols)

# creating columns attribute

In [127]:
with h.File('Depth.hdf5','a') as f:
    df = f['test/one/testdf']
    #df.attrs.create('columns',data1.columns.to_list())
    print(df.attrs['columns'])

['ltp' 'vol_traded_today' 'last_traded_time' 'exch_feed_time' 'bid_size'
 'ask_size' 'bid_price' 'ask_price' 'last_traded_qty' 'tot_buy_qty'
 'tot_sell_qty' 'avg_trade_price' 'low_price' 'high_price' 'lower_ckt'
 'upper_ckt' 'open_price' 'prev_close_price' 'ch' 'chp' 'time']

# converting hdf5 to Dataframe

In [128]:
with h.File('Depth.hdf5','a') as f:
    print(f['test/one/testdf'][:])
    data= f['test/one/testdf'][:]
    #df = pd.DataFrame(f['test/one/testdf'][:],columns=f['test/one/testdf'].attrs['columns'])

[[8.61500000e+02 3.89801300e+06 1.72076228e+09 ... 4.80000000e+00
  5.60300000e-01 1.72078208e+09]
 [8.61500000e+02 3.89801300e+06 1.72076228e+09 ... 4.80000000e+00
  5.60300000e-01 1.72078208e+09]
 [8.61350000e+02 3.90251700e+06 1.72076228e+09 ... 4.65000000e+00
  5.42800000e-01 1.72078208e+09]
 ...
 [8.59850000e+02 7.71396500e+06 1.72077275e+09 ... 3.15000000e+00
  3.67700000e-01 1.72079256e+09]
 [8.59850000e+02 7.71396500e+06 1.72077275e+09 ... 3.15000000e+00
  3.67700000e-01 1.72079256e+09]
 [8.59950000e+02 7.71396500e+06 1.72077275e+09 ... 3.25000000e+00
  3.79400000e-01 1.72079256e+09]]

In [153]:
with h.File('Depth.hdf5','a') as f:
    print(f['test/one/testdf'].shape)

(1455, 21)

# appending data

In [168]:
with h.File('deux.h5','a') as f:
    df = f.create_dataset('test/uno/symbollll',shape=(0,21),maxshape=(None,22),compression='gzip',compression_opts=1)
    df.attrs['columns'] = list(data.columns)

In [158]:
data = pd.read_csv('Symb-2024-07-12.csv')
np.array(data.head(1)).reshape((1,21))

array([[8.61500000e+02, 3.89801300e+06, 1.72076228e+09, 1.72076228e+09,
        8.40000000e+01, 8.47900000e+03, 8.61450000e+02, 8.61500000e+02,
        1.35000000e+02, 6.27677000e+05, 1.78992200e+06, 8.59120000e+02,
        8.55300000e+02, 8.61700000e+02, 0.00000000e+00, 0.00000000e+00,
        8.56700000e+02, 8.56700000e+02, 4.80000000e+00, 5.60300000e-01,
        1.72078208e+09]])

In [169]:
with h.File('deux.h5','a') as f:
    df = f['test/uno/symbollll']
    new_rowlen = df.shape[0]+1
    df.resize((new_rowlen,df.shape[1]))  # this is a point of inefficiency, how do we deal with this??

    df[new_rowlen-1] = np.array(data.head(1)).reshape((1,21))
    print(df.shape)

(1, 21)

In [172]:
with h.File('deux.h5','a') as f:
    df = f['test/uno/symbollll']
    test =pd.DataFrame(df[:],columns=df.attrs['columns'])

In [173]:
test

,ltp,vol_traded_today,last_traded_time,exch_feed_time,bid_size,ask_size,bid_price,ask_price,last_traded_qty,tot_buy_qty,...,avg_trade_price,low_price,high_price,lower_ckt,upper_ckt,open_price,prev_close_price,ch,chp,time
0,861.5,3898013.0,1.720762e+09,1.720762e+09,84.0,8479.0,861.450012,861.5,135.0,627677.0,...,859.119995,855.299988,861.700012,0.0,0.0,856.700012,856.700012,4.8,0.5603,1.720782e+09

In [177]:
np.array(dict(data.head(1)))

array({'ltp': 0    861.5
Name: ltp, dtype: float64, 'vol_traded_today': 0    3898013
Name: vol_traded_today, dtype: int64, 'last_traded_time': 0    1720762275
Name: last_traded_time, dtype: int64, 'exch_feed_time': 0    1720762275
Name: exch_feed_time, dtype: int64, 'bid_size': 0    84
Name: bid_size, dtype: int64, 'ask_size': 0    8479
Name: ask_size, dtype: int64, 'bid_price': 0    861.45
Name: bid_price, dtype: float64, 'ask_price': 0    861.5
Name: ask_price, dtype: float64, 'last_traded_qty': 0    135
Name: last_traded_qty, dtype: int64, 'tot_buy_qty': 0    627677
Name: tot_buy_qty, dtype: int64, 'tot_sell_qty': 0    1789922
Name: tot_sell_qty, dtype: int64, 'avg_trade_price': 0    859.12
Name: avg_trade_price, dtype: float64, 'low_price': 0    855.3
Name: low_price, dtype: float64, 'high_price': 0    861.7
Name: high_price, dtype: float64, 'lower_ckt': 0    0
Name: lower_ckt, dtype: int64, 'upper_ckt': 0    0
Name: upper_ckt, dtype: int64, 'open_price': 0    856.7
Name: open_price, dtype: float64, 'prev_close_price': 0    856.7
Name: prev_close_price, dtype: float64, 'ch': 0    4.8
Name: ch, dtype: float64, 'chp': 0    0.5603
Name: chp, dtype: float64, 'time': 0    1.720782e+09
Name: time, dtype: float64}, dtype=object)

In [178]:
with h.File('neueu.h5','a') as f:
   grp= f.create_group('tst/grp')
   grp.attrs['changethis'] = 1

In [179]:
with h.File('neueu.h5','a') as f:
    grp = f['tst/grp']
    print(grp.attrs['changethis'])

    grp.attrs['changethis'] = 2
    print(grp.attrs['changethis'])

1
2